*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*usos de flex box */
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #229cba;
    flex-direction: column;
    padding: 60px;
    gap: 5px;
    height: 600px;
}

.miranda-sans {
    font-family: "Miranda Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }

.caja{
    display: flex;
    background: #991818;
    padding: 80px;
    height: 100px;
    justify-content: center;
    color: #fff;
    font-weight: bold;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #c90b0b;
    padding: 10px;
    color: #fff;
}

.logo{
    font-size: 32px;
    font-weight: bold;
}

.navlinks{
    display: flex;
    gap: 20px;
}

.navlinks a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}